.quiz-container {
  font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 20px; }

.qq-question {
  font-family: "Glober", Georgia, serif;
  color: #000000;
  font-size: 1.5em;
  margin: 0% auto;
  margin-bottom: 20px;
  font-weight: bolder; }

ol.answers > li {
  font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
  font-size: 1em; }
  ol.answers > li:before {
    font-family: "Glober", Georgia, serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #f22430;
    width: 30px; }
  ol.answers > li:hover {
    background-color: #EEEDED; }

.qq-button {
  font-family: ff-din-web-condensed, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  background-color: #f22430; }
  .qq-button:hover {
    background-color: #f22430 !important; }

.submit-highlight {
  background-color: #e60000; }

.selected {
  background-color: #ffe8e1; }

.answer p {
  font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
  font-size: 0.9em; }
  /* line 65, /Users/rebeccalai/repos/quiz-generator/source/stylesheets/quiz-eater.css.scss */
  .answer p:first-child {
    font-family: "Glober", Georgia, serif; }

#social-media ul li a svg:hover {
  fill: #6d0028; }
#social-media ul li a svg path:hover {
  fill: #FFFFFF; }

.answer a {
  color: #f22430;
  text-decoration: none; }
  .answer a:hover {
    color: #000000; }
